<!DOCTYPE html>
<html>
<head>
    <!-- This tells IE to use most modern available mode.
         THIS LINE MUST COME FIRST IN HEAD SECTION -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
<title>GH Organizer</title>
<style>
    body {
        margin: 1em;
        padding: 0;
        font: 13pt Arial, Helvetica, sans-serif;
        color: #333;
    }
    ul {
        list-style-type: none;
    }
    .sidebar {
        position: fixed;
        height: 100%;
        width: 250px;
        background-color: #ddd;
        top: 0;
        left: 0;
        overflow: scroll;
        white-space: nowrap;
    }
    .sidebar select {
        width: 160px;
        margin: 10px;
        padding: 3px 6px;
        font-weight: normal;
    }
    .page_title {
        font-size: 3.0em;
        display: inline-block;
    }
    .groupings {
        font-size: 2.0em;
        margin-left: inherit;
    }
    #user_info img, p{
        display: inline-block;
    }
    #user {
        font-size: 36px;
    }
    #content {
        margin-left: 250px;
    }
    #rate {
        float: right;
        font-size: 0.5em;
    }
    </style>
</head>
<body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript">
var milestone_data = false;
function format_name(name, prefix=""){
    return (prefix + name.split(' ').join('-')).replace("'","_")
};
function gen_list(list, key, property){
    var htmlText = "";
    for (i = 0; i < list.length; i++) {
        var value=list[i][key]
        var id=list[i]['id']
        htmlText += '<li id="' + format_name(value, 'li_') + '">';
        htmlText += '<label id="'+ id + '">';
        htmlText += '<input id ="'+ format_name(value) + '" type="checkbox" itemprop="' + property + '">';
        htmlText += value + '</label></li>';
    };
    return htmlText
};
function gen_list2(list, property){
    var htmlText = "";
    for (i = 0; i < list.length; i++) {
        var value=list[i]
        var id=i
        htmlText += '<li id="' + format_name(value, 'li_') + '">';
        htmlText += '<label id="'+ id + '">';
        htmlText += '<input id ="'+ format_name(value) + '" type="checkbox" itemprop="' + property + '">';
        htmlText += value + '</label></li>';
    };
    return htmlText
};

function update_inner(id, value) {
    var element = document.getElementById(id);
    element.innerHTML = value;
};
function update_team(org, checked){
    $.ajax({
        url: "/orgs/" + org + "/teams",
        method: "GET",
        success: function(result){
            var team_data = JSON.parse(result);
            console.log(team_data);
            var htmlText=gen_list(team_data, "name", "team")
            if(checked)
                $("#teams").append(htmlText)
            if(!checked)
                for(i = 0; i < team_data.length; i++) {
                    var value=team_data[i]['name']
                    $(format_name(value, "#li_")).remove()
                };
        }
    });
};
function update_repo(org, checked){
    $.ajax({
        url: "/orgs/" + org + "/repos",
        method: "GET",
        success: function(result){
            var repo_data = JSON.parse(result);
            console.log(repo_data);
            var htmlText=gen_list(repo_data, "name", "repo")
            if(checked)
                $("#repos").append(htmlText)
            if(!checked)
                for(i = 0; i < repo_data.length; i++) {
                    var value=repo_data[i]['name']
                    $(format_name(value, "#li_")).remove()
                };
        }
    });
};
function update_avatar(href){
    $("#avatar").attr("src", href);
};
function update_rate(){
    $.ajax({
        url: '/rate_limit',
        method: "GET",
        success: function(result){
            var rate_data = JSON.parse(result);
            remaining = rate_data["resources"]["core"]["remaining"];
            console.log(remaining);
            $("#rate").text(remaining)
        }
    })
};
function get_keys(dictionary){
    var keys = [];
    for (var key in milestone_data) {
        if (milestone_data.hasOwnProperty(key)) {
            keys.push(key);
        }
    }
    return keys;
};
function update_milestones(){
    var milestone_names = get_keys(milestone_data);
    var htmlText = gen_list2(milestone_names, "milestone");
    for(i = 0; i < milestone_names.length; i++){
        var id = format_name(milestone_names[i], "li_");
        console.log(id);
        if (document.getElementById(id)) {
            $('#' + id).remove()
        }
    };
    $("#milestones").append(htmlText)
};
$(document).ready(function(){
    $.ajax({
        url: '/user',
        method: "GET",
        success: function(result){
            var user_data = JSON.parse(result);
            console.log(user_data);
            update_avatar(user_data["avatar_url"]);
            update_inner("user", user_data["login"]);
            $("#user_link").attr("href", user_data["html_url"])
        }
    });
    $.ajax({
        url: '/orgs',
        method: "GET",
        success: function(result){
            var org_data = JSON.parse(result);
            console.log(org_data);
            var htmlText=gen_list(org_data, "login", "org");
            $("#orgs").append(htmlText);
        }
    });
    $.ajax({
        url: '/milestones',
        method: "GET",
        success: function(result){
            milestone_data = JSON.parse(result);
            console.log(milestone_data);
            update_milestones();
        }
    });
    update_rate();
});
//let user select an organization, then update the list of teams for that
//organization.
$(document).on("click", "input:checkbox", function() {
    var checked=$(this).is(":checked");
    var id=$(this).attr('id');
    var property=$(this).attr('itemprop')
    console.log("value clicked: " + id);
    console.log("value property: " + property);
    if(property=="org"){
        update_team(id, checked);
        update_repo(id, checked);
    };
    if(milestone_data != false){
        console.log("updating milestones")
        update_milestones();
    };
    if(milestone_data == false){
        console.log("not updating milestones")
    }
    update_rate()
});
</script>
<div class="sidebar">
    <div class="page_title">GitArena</div>
    <div id="user_info">
        <a id="user_link"><img id="avatar" width="36"></img><p id="user"></p></a>
    </div>
    <div class="groupings">Organizations</div>
    <ul id="orgs" style="padding-left: 20px">
    </ul>
    <div class="groupings">Teams</div>
        <ul id="teams">
        </ul>
    <div class="groupings">Milestones</div>
        <ul id="milestones">
        </ul>
    <div class="groupings">Repositories</div> 
        <ul id="repos">
        </ul>
    <div class="groupings">Labels</div>
    <div align="center"><a href="/logout">logout</a></div>
</div>
</div>
<div id="content">
    <div id="rate">4999</div>
</body>
</html>