<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
<title>GH Organizer</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></link>
<style type="text/css">
body,div,h1{font-family:'trebuchet ms', verdana, arial;margin:0;padding:0;}
body{background-color:#fff;color:#333;font-size:small;margin:0;padding:0;}
h1{font-size:large;font-weight:400;margin:0;}
h2{color:#333;font-size:small;font-weight:400;margin:0;}
</style>
<script type="text/javascript">
var milestone_data = false;
function format_name(name, prefix=""){
    return (prefix + name.split(' ').join('-')).replace("'","_")
};
function gen_list(list, key, property, tag="option"){
    var htmlText = "";
    for (i = 0; i < list.length; i++) {
        var value=list[i][key]
        var id=list[i]['id']
        htmlText += '<' + tag + ' id="' + format_name(value) + '" value=' + format_name(value) + '>';
        htmlText += value + '</' + tag + '>';
    };
    return htmlText
};
function gen_issue_list(data, tag='td'){
    var htmlText = "";
    for (i = 0; i < data.length; i++) {
        var repo_name=data[i]['repo_name']
        var repo_url=data[i]['repository_url']
        var milestone_title=data[i]['milestone']['title']
        var milestone_url=data[i]['milestone']['html_url']
        var issue_title=data[i]['title']
        var issue_url=data[i]['html_url']
        htmlText += '<tr>'
        htmlText += '<' + tag + '>' + repo_name + '</' + tag + '>';
        htmlText += '<' + tag + '><a href="' + milestone_url + '">' + milestone_title + '</a></' + tag + '>';
        htmlText += '<' + tag + '><a href="' + issue_url + '">' + issue_title + '</a></' + tag + '>';
        htmlText += '</tr>'
    };
    return htmlText
};
function update_inner(id, value) {
    var element = document.getElementById(id);
    element.innerHTML = value;
};
function update_avatar(href){
    $("#avatar").attr("src", href);
};
function update_rate(){
    $.ajax({
        url: '/rate_limit',
        method: "GET",
        success: function(result){
            var rate_data = JSON.parse(result);
            remaining = rate_data["resources"]["core"]["remaining"];
            console.log(remaining);
            $("#rate").text(remaining)
        }
    })
};
function get_keys(dictionary){
    var keys = [];
    for (var key in milestone_data) {
        if (milestone_data.hasOwnProperty(key)) {
            keys.push(key);
        }
    }
    return keys;
};
function update_table(dataset, column_names){
  var formatted_column_names = [];
  for (var name in column_names) {
    formatted_column_names.push({ title: name})
  };
  $('#myTable').DataTable( {
    data: dataset,
    columns: formatted_column_names
  })
};
$(document).ready(function(){
    $.ajax({
        url: '/orgs',
        method: "GET",
        success: function(result){
            var org_data = JSON.parse(result);
            console.log(org_data);
            var htmlText=gen_list(org_data, "login", "org");
            $("#select_org").append(htmlText);
        }
    });
    //update_rate();
});
//let user select an organization, then update the list of milestons for that
//organization.
$(function() {
  $('#select_org').change(function() {
    var org=$(this).val();
    console.log("organization selected: " + org);
    $.ajax({
      url: '/search_milestones/' + org,
      method: "GET",
      success: function(result){
        var issue_data = JSON.parse(result);
        console.log(issue_data.length + " issue(s) found.");
        update_table([["a","b","c"],["d","e","f"]], ["1","2","3"])
      }
    });
    update_rate()
  });
});
// Repo Milesone Issue
</script>
<body>
<div class="header">
    <h1>Milestone Issues</h1>
</div>
<div>
  <select id="select_org">
    <option id="placeholder" value="placeholder" selected>Select Organization</option>
  </select>
</div>
<div>
  <table id="myTable" class="display" width="80%"></table>
</div>
</body>
</html>